*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html{
    font-size: 67.4%;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    color: white;
}
input{
    display: block;
    margin-bottom: 1rem;
    height: 2rem;
    width: 20rem;
    padding: 1.5rem 1.5rem;
}
.cal{
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-left: -1rem;
}
.btn{
    padding-bottom: 3rem;
}